<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        .link {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body bgcolor="black" style="color: white; font-weight: bolder;">
    <h1>Error 404</h1><br>
    <h2>The requested route not found. <a href="/" class="link">Go back</a></h2>
</body>
</html>