<!DOCTYPE html>
<html>

<head>
	<title>WEB700</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style>
		table,
		th,
		tr,
		td {
			border: 1px solid black;
		}

		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Olushola Adeniyi Olorunfemi</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
				<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
				<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<main class="col-md-12">

				<!-- Start your code here -->
				<section>
					<h3>School Data</h3>

					<table>
						<!--table row-->
						<tr>
							<!--the header of the table-->
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th colspan="1">Email</th>
							<th>Age</th>
						</tr>

						<!--table row-->
						<tr>
							<!--the content of the table-->
							<td>1</td>
							<td>John</td>
							<td>Smith</td>
							<td>JohnSmith@gmail.com</td>
							<td>30</td>
						</tr>

						<tr>
							<!--the content of the table-->
							<td>2</td>
							<td>Viten</td>
							<td>Beatrice</td>
							<td>Viten10Bea@gmail.com</td>
							<td>23</td>
						</tr>

						<tr>
							<!--the content of the table-->
							<td>3</td>
							<td>Fridel</td>
							<td>Johnson</td>
							<td>Renegade4@gmail.com</td>
							<td>24</td>
						</tr>

						<tr>
							<!--the content of the table-->
							<td>4</td>
							<td>George</td>
							<td>Uche</td>
							<td>George667Uche@gmail.com</td>
							<td>33</td>
						</tr>

					</table> <br>

					<table>
						<tr>
							<th>Random 1</th>
							<th>Random 2</th>
							<th>Random 3</th>
							<th>Random 4</th>
							<th>Random 5</th>
						</tr>
						<tr>
							<td>hold</td>
							<td>daughter</td>
							<td>specific</td>
							<td>small</td>
							<td>fall</td>
						</tr>
						<tr>
							<td>to</td>
							<td>bee</td>
							<td>jump</td>
							<td>pound</td>
							<td>family</td>
						</tr>
						<tr>
							<td>seat</td>
							<td>coffee</td>
							<td>notice</td>
							<td>coat</td>
							<td>come</td>
						</tr>
					</table>
					<p>A table full of random names and words</p>

					<!-- End your code here  -->
				</section>

				<section>
					<h4>Top programming languages and some frameworks</h4>
					<ul>
						<li>C</li>
  <li>C#
    <ul>
      <li>ASP.Net</li>
      <li>WPF Forms</li>
	  <li>.NET Core</li>
    </ul>
  </li>
  <li>Java</li>
	 <li>HTML</li>
   <li>CSS</li>
    <li>JavaScript
            <ul><!-- start of nested list-->
                <li>Angular</li>
                <li>React</li>
                <li>Vue</li>
            </ul><!--end of nested list-->
     </li>
					</ul>

					<p>Not all the programming languages are listed above. But the most popular ones which you can start
						learning fast
						are listed here
					</p>
				</section>

				<section>
					<h4>Logo's designed on free logo designer sites</h4>
					<div class="images">
						<img src="../images/image1.png" alt="Logo image 1 ccp">
						<img src="../images/image2.png" alt="logo image 2 ccp">
						<img src="../images/image3.png" alt="logo image 3 ccp">
					</div>

					<p>
						A logo image of a chelsea audio podcast
					</p>
				</section>

				<section>
					<h4></h4>
					<audio src="../audio/mo1.mp3" controls preload></audio>
					<audio src="../audio/mo2.mp3" controls preload></audio>

					<p>Some soothing music to listen too before bed time
					</p>
				</section>

				<section>
					<h4>Some funny vines on the internet</h4>
					<video src="../videos/video1.mp4" width="320" height="290" preload controls loop></video>
					<video src="../videos/video2.mp4" width="380" height="350" preload controls loop></video>
					<video src="../videos/video3.mp4" width="400" height="470" preload controls loop></video>

					<p>Most of this videos are from tiktok and Youtube. Some are just for fun and others spitting facts</p>
				</section>

			</main>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
</body>

</html>